footer {
    display: inline-block !important;
    width: 100%;
    margin: 0rem auto 0;
    // padding: 0rem 0px 3rem;
    background-color: #343a40;
    .contact-cont{
        display: block;
        width: 100%;
        min-height: 60rem;
        margin: 0rem auto 0 !important;
        // padding: 10px 0 50px;
        background-image: url('/assets/graphics/productPage/contact-banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 0px;
        

     }





}