// @import 'colors';
body{
    font-family: 'Lato', sans-serif;
    // font-family: 'PT Sans', sans-serif;
}
.nav-bgcolor{
    background-color: $dark-bg;
    padding: 5px 0 6px 0;
}

.navbar-brand{
    img{
        height:60px;
    }
}
.nav-link{
    color:$lght-txt !important;
    border-bottom: 2px solid $dark-bg;
    &:hover{
        transition:0.5s;
        border-bottom: 2px solid $lght-txt;
    }
}
.navbar-collapse{
    display: flex;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
}
.navbar-brand2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    a{
        
    }
    .brnd2-img{
        display: flex;
        justify-content: center;
        img{
            height:45px;
        }
    }
    .brnd2-txt{
        p{
            font-family: 'Saira Extra Condensed', sans-serif;
        // font-weight: 300;
        color:$lght-txt !important;
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        font-size: 14px;
        font-stretch: extra-condensed;
    }
    }
}



.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    align-items: flex-end;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center !important;
}
.nav-link {
    display: block;
    padding: 0; 
}
.spacer-top{
    margin-top: 50px;
}
.spacer-bot{
    margin-bottom: 50px;
}
.intro-1h {
    display: flex;
    justify-content: center;
    img{
        height:100px;
    }
}

.text-align-j{
    text-align: justify;
}

.intro-2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    img{
    // max-height: 70%;
    // position: relative;
    // right: -60px;
    }
}

.intro-1-txt{
    line-height: 1.8;
}
.water-tech{
    background-color: $light-bg;
    padding:10px; 
    color:$lght-txt;
}
.img-fluid-1{
    width:140%;
    height:auto;
}

.water-tech-h{
    padding-top: 0px;
    h1{
        font-weight: 300;
    }
}
.w-tech-img{
    display: flex;
    align-items: center;
    .row{
        div{
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            img{
                height:165px;
            }
        }
    }
}

.m-top{
    margin-top: 30px;
}
.m-bot{
    margin-top: 30px;
}
.m-bot-off{
    margin-top: 20px;
}
.w-tec-int{
    display: flex;
    align-items: center;
}
.mod-head{
    h1{
    font-weight: 300;
    color: $spc-drk-txt;
    }
}
// Product Section Start
.prod-head h2, .prod-head h1{
    color:$spc-blu-txt;
    font-weight: 700;
}


// Product Section End
.off-head{
    font-size: 2.7rem;
    font-weight: 400;
    color: $spc-drk-txt;
}
.off-ico {
    display: flex;
    justify-content: flex-end;
    img{
    height: 50px;
}
}
.off-txt {
    display: flex;
    align-items: center;
    padding-top: 7px;
    h2{
        font-size: 1.75rem;
    }
}
.row-f-end{
    display: flex;
    align-items: flex-start;
}
.cont-ban{
    padding-top: 30px;
    background: url(http://demo.hottubinstyle.co.uk/html/img/contact-banner.jpg) no-repeat;
    background-size: cover;
    background-position-y: 70%;
    h2,h5,p,h6{
        color:$lght-txt;
    }
}
.txt-center{
    text-align: center;
}
.wrap-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control1 {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color:rgba(255, 255, 255, 0.8);
    background-clip: padding-box;
    border: 1px solid $light-bg;
    border-radius: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
        
        border: 1px solid $light-bg;
        outline: none !important;
    }
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary1 {
    color: #fff;
    background-color: $spc-blu-txt;
    border-color: $spc-blu-txt;
    &:hover{
        transition: 0.5s;
        background-color: $spc-btn;
    }
}

.spacer-top2{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.cop-txt{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $dark-bg;
    p{
        color: #fff;
        margin-bottom: 0;
    }
}
.prod-ban-h{
    background: url('/assets/graphics/header/Asset 4.png');
  
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 10px;
    background-size: 70% 100%;
    h2, h1{
        padding-left: 5px;
        color:$lght-txt;
    }
}
.prod-des{
    p{
    // font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    margin-top: 1.4rem;
    margin-bottom: 0rem;
    }
}


    .spec-titles{
        h6{
            font-size: 15px;
            line-height: 1.2;
        }
    }
    .sub-title{
        p{
            font-size: 14px;
            line-height: 1;
            font-weight: bolder;
            margin-bottom: 0;
        }
    }
    .sub-descript{
        p{
            margin-bottom: 0;
            font-size: 14px;
            font-weight: bolder;
        }
    }

.more-det{
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
}

.prod-des p b:nth-child(1){
    color:black;
    font-weight:bolder;
}
.prod-des p b:nth-child(2){
    color:$spc-blu-txt;
    font-weight:bolder;
}
.more-det div a{
    color:$norm-txt;
    font-weight: 600;
}
// .bottom-txt{
//     display: flex;
//     justify-content: center;
// }


.carousel-item > img { 
  width: 100%; 
}

.carousel-control-prev,.carousel-control-next {
  cursor:pointer;
}

.carousel-item, .carousel-item.active {
    align-items:center;
}

.carousel-indicators {
    width: auto !important;
}
